/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  margin-top: 15rem;
}

.header {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff !important;
  box-shadow: none !important;
}

.header .logo img {
  height: 50px;
}

.header .nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header .nav ul li {
  margin: 0 15px;
}

.header .nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.header .nav ul li a:hover {
  color: #ffdd57;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 0 20px 0; /* Ajuste para dar espaço para o header fixo */
  margin: 0 auto;
  box-sizing: border-box;
}

.register-box {
  background: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-box h2 {
  margin-bottom: 20px;
  color: #007bff;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  display: inline-block;
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link a:hover {
  color: #0056b3;
}

/* Toastr */
#toast-container > div {
  border-radius: 8px;
  font-size: 14px;
}
